/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about {
    position: relative;
    z-index: 2;
  }
  
  .about .icon-box {
    padding: 40px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: #fff;
    transition: all ease-in-out 0.3s;
    height: 100%;
  }
  
  .about .icon-box i {
    color: #e96b56;
    font-size: 42px;
    margin-bottom: 15px;
    display: block;
    line-height: 0;
  }
  
  .about .icon-box h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .about .icon-box h3 a {
    color: #545454;
    transition: 0.3s;
  }
  
  .about .icon-box p {
    color: #545454;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .about .icon-box:hover {
    background: #e96b56;
  }
  
  .about .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
    color: #fff;
  }